.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.logo {
  flex: 1;
  font-size: large;
  color: aliceblue;
  user-select: none;
}

.nav-links-container {
  flex: 2;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  position: relative;
  font-size: 1.1em;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: aliceblue;
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.nav-links a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.login-button-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.btnLogin-popup {
  width: 100px;
  height: 40px;
  background: transparent;
  border: 2px solid aliceblue;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1.1em;
  color: aliceblue;
  font-weight: 500;
  transition: 0.5s;
}

.btnLogin-popup:hover {
  background: aliceblue;
  color: #201934;
}
